<header id="header"  style="background-color:rgb(255, 0, 0);font-size: 200%;">
      <div class="container">
        <h1>
          Gym test 
        </h1>
		
        <nav id="nav">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Sobre</a>
            </li>
            <li>
              <a href="#">             </a>
            </li>
            <li>
              <a href="http://localhost:3000/user_sessions/new">Login</a>
            </li>
            <li>
              <a href="localhost:3000/users/new">Cadastro</a>
            </li>
          </ul>
        </nav>
      </div>


</header>
