<table style="width:100%">
  <tr>
    <th><a style="background-color:rgb(255, 0, 0);font-size: 200%;" href="http://localhost:3000/users/new">novo usuario</a></th>
    <td><a style="background-color:rgb(120, 0, 255);font-size: 200%;" href="http://localhost:3000/user_sessions/new">Login</a></td>
    <td><a style="background-color:rgb(120, 0, 255);font-size: 200%;" href="localhost:3000/users/new">Cadastro</a></td>
  </tr>
  <br>
  <tr>
  <br>
     <th>
     <a style="background-color:rgb(161, 170, 239);font-size: 200%;" href="http://localhost:3000/users">Listar usuarios</a>
	 </th>
  </tr>
  
</table>
 <br>
 <br>
 <br>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
 <br>





